Thesis.pdf

# Auxiliar latex compilation files
*.aux
*.auxlock
*.loa
*.bbl
*.blg
*.glg
*.glo
*.gls
*.ilg
*.ist
*.lof
*.log
*.lot
*.nlo
*.nls
*.out
*.toc
*.synctex.gz
*.upa
*.upb


paper.fdb_latexmk
paper.fls
*.f*

# temp files
*~
