Thesis.pdf

# Auxiliar latex compilation files
*.acn
*.acr
*.alg
*.aux
*.auxlock
*.bbl
*.blg
*.glg
*.glo
*.gls
*.ilg
*.ist
*.loa
*.lof
*.log
*.lot
*.nlo
*.nls
*.out
*.synctex.gz
*.toc
*.upa
*.upb


paper.fdb_latexmk
paper.fls
*.f*

# temp files
*~
